# Manage modules from web interface
module.allow_web_admin=true
connection.url=jdbc:mysql://127.0.0.1:3306/{{openmrs_db_name}}?autoReconnect=true&sessionVariables=storage_engine=InnoDB&useUnicode=true&characterEncoding=UTF-8
connection.username={{openmrs_db_user}}
auto_update_database=true
connection.password={{openmrs_db_user_password}}
